Package: io.imkh.revealloader
Name: RevealLoader
Version: 0.0.1
Architecture: iphoneos-arm64
Description: A Reveal Loader tweak
Maintainer: Jinwoo Kim
Author: Jinwoo Kim
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
